body {
    direction: rtl;
    background-image: url(../Images/REDY.jpg);
}
#container {
    width: 960px;
    margin: 0 auto;
    font-size: 15pt;
    text-align: center;
    font-family: Tahoma;
    color: #cc0000;
    background-color: rgba(255, 255, 255, 0.9);
}

ul {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
    overflow: hidden;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-size: 15pt;
    text-align: center;
    color: cornflowerblue;
    font-weight: bold;  
}
/*תפריט הניווט*/
nav {
    position: sticky;
    top: 0;
    Z-index: 4;
}

li {
    float: right;
}

li:nth-child(2) {
        border-right: 1px solid #bbb;
 }

li:nth-child(3) {
        border-right: 1px solid #bbb;
 }

 li a {
        display: block;
        color: white;
        text-shadow: 1px 1px 2px black, 0 0 25px #cc0000, 0 0 5px #ff1a1a;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 13pt;
        font-weight: bold;
        background-color: white;    
  }


li a:hover {
         color: white;
         text-shadow: 1px 1px 2px black, 0 0 25px #ff6666, 0 0 5px #ffcccc;
 }
/*עיצוב שונה בניווט לשם העמוד הנוכחי*/
.currentPage {
    color: #cc0000;
}

h1 {
    margin-bottom: 20px;
    font-size: 30pt;
    color: #cc0000;
}

#image {
    image-size: 100px 50px;;
    
}
#paper{
    width: 550px;
    height: 350px;
    background-image: url("../Images/maxi.jpg");
    background-size: cover;
    transition: 2s;
}
#paper:hover {
        transition: 2s;
        background-image: url("../Images/poster.jpg");
        background-size: cover;
        width: 550px;
        height: 350px;
 }

audio {
    margin-bottom: 2px;
    position: relative;
}
